.main-container{
    padding: 30px 50px 0px;

    .main-heading{
        h1{
            font-weight: 500;
            font-size: 25px;
        }
    }

    .select-tabs{
        display: flex;
        font-weight: 400;
        cursor: default;
        font-size: 15px;
        // border-bottom: 1px solid #e1e1e1;

        .tab{
            padding: 10px 15px;
            width: 40px;
            text-align: center;
        }

        .selected-tab{
            color: blue;
            font-weight: 400;
            border-bottom: 2px solid;
        }
    }

}

.border-bottom{
    border-bottom: 1px solid #e1e1e1;
}

